<header class="p-3 text-bg-orange">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to image_tag('logo.png', size: "195x30", alt: "Storebase"), root_path, class: "d-flex align-items-center mb-2 mb-lg-0 me-5 link-body-emphasis text-decoration-none fs-4 text-white" %>

      <div class+"text-end">
        <%= link_to 'Log in', new_user_session_path, class: 'dropdown-item' %>
      </div>
    </div>
  </div>
</header>
