<div id="<%= dom_id service_col %>">
  <p>
    <strong>Service format:</strong>
    <%= service_col.service_format_id %>
  </p>

  <p>
    <strong>Ec column:</strong>
    <%= service_col.ec_column %>
  </p>

  <p>
    <strong>Data type:</strong>
    <%= service_col.data_type %>
  </p>

</div>
