<h1>Editing service col</h1>

<%= render "form", service_col: @service_col %>

<br>

<div>
  <%= link_to "Show this service col", @service_col %> |
  <%= link_to "Back to service cols", service_cols_path %>
</div>
