<div class="feature-title">
  <h1><%= "#{@service.name} | #{@service.platform.name}" %></h1>
</div>

<div class="card shadow mt-3">
  <div class="card-header">Data Mappings</div>

  <div class="card-body mx-3">
    <div class="row py-2 list-header">
      <div class="col-3 mt-auto">Target Column Name</div>
      <div class="col-3 mt-auto">Data Type</div>
      <div class="col-3 mt-auto">Source Column Name</div>
    </div>

    <div id='features'>
      <%= render @mappings %>
    </div>
  </div>
</div>

<%= link_to 'Back', features_path, class: 'btn btn-sm btn-primary m-2' %>
