<h1>StoreBase</h1>
<div>
  <p>Amazon セリングパートナーを利用されていて、自社のデータベースとのデータ連携で困ったことはありませんか？<br>
  StoreBaseはAmazonセリングパートナーと貴社のデータベースとのデータ連携をお手伝いするサービスです。</p>
</div>

<div>
  <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete } %>
</div>
