<div class="row row-cols-3 py-2 border-top">
  <div class="col-md-2 col-sm-4 my-auto">
    <%= feature.service.platform.name %>
  </div>
  <div class="col-md-8 col-sm-6 my-auto service-name">
    <%= link_to feature.service.name, find_or_create_version_path(service_format_id: feature.service_format.id), data: {turbo_method: :post} %>
  </div>
  <div class="col-md-2 col-sm-2 my-auto">
    <%= link_to 'Delete', feature_path(feature), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
  </div>
</div>
