<div class="row py-2 border-top">
  <div class="col-1 my-auto">
    <%= mapping.user_column %>
  </div>
  <div class="col-3 my-auto">
    <%= mapping.ec_column %>
  </div>
  <div class="col-3 my-auto">
    <%= mapping.data_type %>
  </div>
</div>
