<div class="feature-title">
  <h1>Services</h1>
</div>

<%= link_to 'Add Services', new_feature_path, class: 'btn btn-sm btn-primary mt-2 ms-2' %><br>

<div class="card shadow mt-3">
  <div class="card-header">Services</div>

  <div class="card-body mx-3">
    <div id='features'>
      <%= render @features %>
    </div>
  </div>
</div>
